<nb-card *ngIf="playlist" size="tiny" class="liked-song-page">
  <nb-card-body>

    <h1>{{playlist.title}}</h1>

    <nb-card-body class="sec-div">
      <hr><button nbButton size="medium" hero status="primary" shape="semi-round"><nb-icon icon="shuffle-2-outline"></nb-icon></button><hr>
    </nb-card-body>

    <nb-list listenWindowScroll="true" class="list-items">
      <nb-list-item class="tracks" *ngFor="let file of playlist.Song">
        <app-track [isInPlaylist]="true" [tag]="file.id" [file]="file" [playlistName]="playlist"></app-track>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
