<div class="music_player">
  <div class="music_info">
    <div style="display: flex; align-items: center;">
      <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg" class="music_img">
    </div>
    <div class="music_article">
      <div id="music_name">Hãy trao cho anh</div>
      <div id="singer">Shawn Mendes, Camila Cabello</div>
    </div>
  </div>

  <div class="button_group">
    <button>
      <mat-icon id="previousButton">skip_previous</mat-icon>
    </button>
    <button>
      <mat-icon  (click)="changestatus_musicPlayer($event)" id="playButton">play_circle_filled</mat-icon>
    </button>
    <button>
      <mat-icon (click)="changestatus_musicPlayer($event)" id="nextButton">skip_next</mat-icon>
    </button>
  </div>

  <div class="music_process_root">
  <div class="music_time">{{MusicTimeElapsed}}</div>
    <mat-slider (value)="MusicProcess" id="music_process"></mat-slider>
  </div>

  <div class="volume_root">
    <button><mat-icon class="volume_icon" (click)="changestatus_volunme($event)">volume_up</mat-icon></button>
    <mat-slider id="volume"></mat-slider>
  </div>
</div>
