@import "~ng-zorro-antd/slider/style/index.css";
nb-icon {
  cursor: pointer;
  outline: none;
  border-style: hidden;
}

nb-card-body {
  padding: inherit;
  text-align: justify;
}

nb-user {
  margin-right: 10%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-left: 20%;
}

mat-slider {
  width: 80%;
}
