.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.btn_group {
  display: flex;
  justify-content: flex-end;
  justify-items: end;
  align-items: center;
}

.btn_group > nb-icon{
  margin-left: 20px;
}