p {
  text-align: center;
}
<<<<<<< HEAD
=======

button {
  margin-left: 25%;
  margin-top: 10%;
}


button[nbButton] {
  margin: auto;
}

.toggle_root {
  height: 100%;
}

.toggle {
  position: absolute;
  bottom: 20px;
}
>>>>>>> 11f48cecd83f44210d6126c051b2d1899fc9b244
