<div *ngIf="authService.user$ | async; then authenticated else guest">
</div>
<ng-template #authenticated>
  <div *ngIf="authService.user$ | async as user">
    <nb-user style="justify-content: center;" size="large" name={{user.displayName}} title={{user.email}}
      picture={{user.photoURL}}>
    </nb-user>
    <button nbButton status="info" (click)="authService.logOut()">Log out</button>
  </div>
</ng-template>

<ng-template #guest>
  <div>
    <button nbButton status="info" (click)="authService.loginWithGG()">Login</button>
  </div> <!-- lay cua con GOOGLE -->
</ng-template>

<br>
<nb-menu [items]="items" autoCollapse="true">

</nb-menu>
<br>
<div class="button-group">
  <nb-toggle  class="toggle" status="basic" (checkedChange)="changeTheme($event)"></nb-toggle>
  <button (click)="createNewPlayList()" nbButton status="primary" style="margin-bottom: 10%">
  <nb-icon icon="plus-outline"></nb-icon>
  </button>
</div>



