.navBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
}

nb-icon {
  cursor: pointer;
  outline: none;
  border-style: hidden;
}

nb-icon:hover {
  color: blue;
  transition: 0.5s;
}

