app-tracks {
  display: grid;
  width: 100%;
}

.card-col {
  flex: 1 0 calc(20% - 1.5rem);
  margin: 1rem;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
