app-nav-bar {
  width: 100%;
}

app-music-player {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
<<<<<<< HEAD

nb-layout-column {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.testt{
float: right;
}
=======
>>>>>>> parent of daf70ec... update and still cannot make footer (music player) fixed
