img {
  border-radius: 100%;
  width: 10%;
  align-self: center;
  margin-top: 2%;
}

.artist-info {
  text-align: center;
  box-shadow: -4px 76px 155px -19px rgba(0,0,0,0.75);
}
p {
  margin-top: 1%;
}
