* {
    background-color: #fefefe;
    outline: none;
}

.searchInput {
    border-radius: 20px;
    height: 10px;
    width: 350px;
    padding: 20px;
    border: none;
    background-color: white;
    box-shadow: 10px 10px 10px 10px #f9f9f9;
}

@import url('https://fonts.googleapis.com/css?family=Kreon&display=swap');

* {
  font-family: 'Kreon', serif;
}

